*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.spacer{
    flex: 1;
}

.site-logo{
    font-size: xx-large;
    margin: 0 20px;
}

.logo-img{
    max-height: 50px;
    vertical-align: middle;
    background-color: transparent;
}

.nav-addon{
    font-size: larger;
    margin-right: 20px;
}

.nav-avatar{
    margin-top: 8px;
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
}

.nav-user-info{
    display: flex;
}

.shop-category{
    border: 1px solid lightgray;
    display: inline-block;
    cursor: pointer;
    vertical-align: bottom;
    overflow: hidden;
    margin: 10px;
    /*padding: 10px;*/
    width: 20vw;
    height: 20vh;
}

.shop-category picture{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 12vh;
}

.shop-category b{
    display: block;
}

.shop-category img{
    max-width: 100%;
    max-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.shop-category, .shop-product {
    border: 1px solid lightgray;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    margin: 10px;
    overflow: hidden;
    /*padding: 10px;*/
    width: 20vw;
    height: 20vw;
}
.shop-category b, .shop-product b {
    display: block;
}
.shop-category picture, .shop-product picture {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vw;
    width: 20vw;
}
.shop-category img, .shop-product img {
    max-height: 100%;
    max-width: 90%;
}

.spacer {
    flex: 1;
}
.site-logo {
    font-size: xx-large;
    margin: 0 20px;
}
.site-logo img {
    max-height: 55px;
    vertical-align: middle;
}
.nav-addon {
    font-size: larger;
    margin-right: 20px;
}
.nav-avatar {
    border-radius: 50%;
    margin-top: 10px;
    max-height: 45px;
    max-width: 45px;
}